#root {
  --main-color: burlywood;
  --font-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Droid Sans', sans-serif;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  background-color: var(--main-color);
  color: var(--font-color);
}

.header-main {
  display: flex;
}

.header-main img {
  height: 60px;
  width: auto;
  border-radius: 25px;
}

.header-title {
  margin: auto 1rem;
}

.header-h3 {
  margin: auto 1rem;
}
/* header */

/* main */
.meme-main {
  padding: 5rem 13rem;
}

.meme-form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 1rem;
}

.meme-input {
  border-radius: 5px;
  border: 1px solid var(--main-color);
  text-indent: 1rem;
}

.meme-input:focus {
  border: .2rem solid var(--main-color);
  outline: none;
}

.meme-button {
  grid-column: 1 / 3;
  border-radius: 5px;
  border: 1px solid bisque;
  background-color: var(--main-color);
  color: var(--font-color);
  font-size: 1rem;
  cursor: pointer;
}

/* main */

.meme {
  position: relative;
}

.meme-img {
  /* height: 300px;
  width: auto; */
  max-width: 100%;
  /* grid-column: 1 / 3; */
  margin: auto;
}

/* should take a look */
/* meme */
.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
/* meme */
